#benefits-3col-3 .bg-wrap {
    background-color: #f4f5f6;
}

#text-1col .bg {
    background-image: url('../images/bg-sign-primary.html');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.2;
}

#benefits-4col-8 .bg-wrap {
    background-color: #F2F0ED;
}

#desc-halfbg-text-img-text .bg-wrap {
    background-color: white;
}

#contact-form-2 .bg {
    background-position: center bottom;
    background-size: cover;
    opacity: 1;
}

* {
    font-family: 'Cairo', sans-serif;
}

section#benefits-4col-8 .content-box.bg-default img {
    height: 350px !important;
}

section#benefits-3col-3 .content-box.bg-default img,
section#benefits-3col-4 .content-box.bg-default img {
    width: 200px !important;
    height: initial !important;
    margin-bottom: 20px !important;
}


/*section#benefits-3col-3 .col-lg-4 {
    margin: 0 auto;
}*/

img.img-pack {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
}

p.under-img-pack {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.content-boxxx img {
    width: 250px;
    margin-bottom: 25px;
    box-shadow: 10px 10px 30px 2px rgb(175 111 160 / 38%);
}

section#text-1col h4 {
    text-align: center;
    font-family: 'El Messiri';
    font-size: 30px;
}

section#contact-form-2 .bg-wrap {
    background: #f4f5f6 !important;
}

nav#nav-menu-logo-social {
    padding: 35px 0;
}

nav#nav-menu-logo-social img {
    margin-bottom: 20px;
}

nav#nav-list-logo-btn {
    box-shadow: 0 10px 40px -10px rgb(0 0 0 / 10%);
}

.dark svg.svg-primary.light,
.light svg.svg-primary,
.dark .light svg.svg-primary,
svg.svg-primary.light,
.dark svg.svg-secondary.light,
.light svg.svg-secondary,
.dark .light svg.svg-secondary,
svg.svg-secondary.light {
    fill: #02CBC9 !important;
}

section#benefits-4col-8 h3.text-primary.mt--50 {
    color: #b700ad;
}

section#benefits-4col-8 h3.text-primary.mt--50 span {
    font-size: 20px;
    text-decoration: line-through;
    top: -10px;
    position: relative;
    color: #2768bf;
}

header#header-carousel--0 .item {
    height: 700px;
}

.light .owl-prev.dark:hover,
.dark .owl-prev:hover,
.light .dark .owl-prev:hover,
.owl-prev.dark:hover,
.light .owl-next.dark:hover,
.dark .owl-next:hover,
.light .dark .owl-next:hover,
.owl-next.dark:hover {
    background: #b700ad;
}

section#benefits-4col-8 h3.text-primary.mt--50 strong {
    font-weight: 500;
}

nav#nav-list-logo-btn {
    padding: 15px 0;
}

section#benefits-4col-8 .content-box.bg-default.shadow.mb-50 {
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
}

ul.how-to-use li {
    font-size: 20px;
    text-align: justify;
}

img.natma-2 {
    width: 100%;
}

div#why-us .content-box .ml-20 {
    align-self: center;
}

div#why-us .content-box p {
    margin: 0;
}

div#why-us .content-box h4 strong {
    color: #02CBC9;
}

div#why-us .content-box {
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
    padding: 20px;
}


/**/

.card {
    width: 100%;
    position: relative;
    inset: 0;
    margin: auto;
    transition: .2s ease-out;
}

.card:hover {
    transform: translate(0, -8px);
    transition: .2s ease;
    animation-fill-mode: both;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}

.card img {
    width: 100%;
    /*box-shadow: 5px 30px 70px -15px #111;*/
}

.video-play-button {
    position: absolute;
    z-index: 10;
    inset: 0;
    margin: auto;
    box-sizing: content-box;
    display: block;
    width: 28px;
    height: 30px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.card .video-play-button:hover:after {
    background-color: #b700ad;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 25px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.75);
        transform: scale(1.75);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.75);
        transform: scale(1.75);
        opacity: 0;
    }
}


/**/

a#zoom-img img {
    width: 100%;
    height: 255px;
    object-fit: cover;
    object-position: top;
}

form#order-now {
    text-align: right;
}

section#contact-form-2 h3 strong {
    color: #b700ad;
}

form#order-now button {
    margin: 0 auto;
    display: block;
    color: #564c00 !important;
    font-weight: 900;
    background-color: #feea58 !important;
    border-color: #feea58 !important;
}

form#order-now button:hover {
    color: #564c00 !important;
    font-weight: 900;
    background-color: #ffe51f !important;
    border-color: #feea58 !important;
}

.hide-desk {
    display: none;
}

section#action-img-text-btn .bg-wrap {
    background: rgb(28, 101, 174);
    background: linear-gradient(90deg, rgba(28, 101, 174, 1) 0%, rgba(181, 106, 163, 1) 50%, rgba(183, 0, 173, 1) 100%);
}

div#why-us {
    padding: 75px 0;
    background: #02CBC9;
    /* background: #d867d2;
    background: linear-gradient(90deg, rgba(28, 101, 174, 1) 0%, rgba(181, 106, 163, 1) 50%, rgba(183, 0, 173, 1) 100%); */
}

div#why-us .content-box {
    background: white;
    display: block !important;
    text-align: center;
}

div#why-us .content-box img {
    margin-bottom: 15px;
}

div#why-us .content-box h4 {
    margin-bottom: 15px;
}

div#why-us h3 {
    color: white;
    margin-bottom: 30px;
}

.after-use p {
    font-size: 17px;
}

.after-use h4 {
    font-weight: 600;
    font-family: 'El Messiri';
    color: #b706ac;
}

.pd-t-0 {
    padding-top: 0 !important;
}

pd-b-0 {
    padding-bottom: 0 !important;
}

.titttle-bottom {
    margin-top: 50px;
}

.titttle-bottom h3 {
    margin-bottom: 0px !important;
}

section#media-iframe-3col .bg-wrap,
#text-1col .bg-wrap {
    background-color: #f4f5f6;
}

.content-box.border-x2.padding-x3.mb-50 {
    text-align: center;
}

.blockquote-footer::before {
    display: none;
}

.position-absolute.l-50.t-0.centered.padding.bg-default {
    background: #f4f5f6;
}

section#benefits-3col-3 .item-title {
    font-size: 16px;
}

section#media-iframe-3col,
section#text-1col {
    padding-bottom: 55px !important;
}

.magis,
section#benefits-3col-3-,
section#benefits-3col-3 {
    padding-top: 75px !important;
}

section#media-icon .container {
    height: 100% !important;
}

section#media-icon .container .row {
    height: 100% !important;
}

ul.how-to-use li {
    line-height: 40px;
}

a.btn.btn-cta {
    color: #564c00 !important;
    font-weight: 900;
    background: #feea58;
    color: white;
    padding: 15px 40px;
    font-size: 15px;
}

section#desc-halfbg-text-img-text a.btn.btn-cta {
    margin-top: 60px;
}

a.btn.btn-cta {
    animation: pulse 2s infinite 2s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 #feea58;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}

a.btn.btn-cta:hover {
    animation: none;
}

section#benefits-3col-3- a.btn.btn-cta {
    box-shadow: 0 0 0 0 #1f65ae;
}

::marker {
    color: #02CBC9;
}

.pad-to-0 {
    padding-bottom: 75px !important;
}

section#benefits-3col-3- {
    padding-bottom: 75px !important;
}

section#benefits-3col-3 {
    padding-bottom: 75px !important;
}

section#media-iframe-3col,
section#text-1col {
    padding-bottom: 65px !important;
}

.col-lg-2- {
    width: calc(100% / 5 - 20px);
    margin: 10px;
}

.box img {
    width: 100%;
}

.box h4 {
    font-size: 15px !important;
    font-weight: 700;
    margin: 0;
    text-align: right !important;
}

.box .inline-group {
    text-align: right;
    margin: 10px 0;
}

.box p {
    text-align: right;
    margin: 0;
}

.inline-group svg {
    margin-right: 5px !important;
}

.inline-group svg:first-child {
    margin-right: 0 !important;
}

.box {
    background: white;
    box-shadow: 0 5px 30px 0 rgb(30 34 40 / 20%);
    margin-bottom: 20px;
}

.box .content {
    padding: 20px;
}

.box .content h4 i {
    padding-right: 5px;
}

.review-grid .col-xs-12.col-sm-6.col-md-4.col-lg-2 {
    padding: 0 5px;
}

.review-grid {
    background: #f4f5f6;
}

section.tele {
    display: none;
}

@media (max-width: 600px) and (min-width: 0px) {
    .col-lg-2- {
        width: 100%;
        margin: 10px;
    }
    .hide-desk {
        display: block;
    }
    .hide-tel {
        display: none;
    }
    nav#nav-list-logo-btn .col.text-right {
        display: none;
    }
    nav#nav-list-logo-btn .col-auto.text-center {
        width: 100%;
        text-align: center;
    }
    header#header-carousel--0 .item {
        height: 350px;
    }
    .col-50-100 {
        width: 100%;
    }
    .owl-nav {
        display: none;
    }
    section#benefits-3col-3 h3 {
        margin-top: 10px;
    }
    section#text-1col {
        padding-top: 35px;
    }
    section#desc-halfbg-text-img-text {
        padding-top: 75px;
    }
    section#desc-halfbg-text-img-text .col-md-6 {
        text-align: center !important;
    }
    section#desc-halfbg-text-img-text .col-md-6 ul {
        padding: 0;
    }
    section#desc-halfbg-text-img-text .col-md-6 ul li {
        text-align: center;
    }
    div#why-us {
        padding-top: 50px;
        padding-bottom: 55px !important;
    }
    section#contact-form-2 {
        padding: 75px 0 !important;
    }
    div#why-us .content-box {
        margin-bottom: 20px;
    }
    nav#nav-menu-logo-social p {
        font-size: 10px;
    }
    section#benefits-4col-8 {
        padding-bottom: 45px !important;
    }
    div#why-us .content-box {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    section#media-iframe-3col {
        padding-bottom: 55px;
    }
    section#media-icon .bg {
        background-position-x: 710px;
    }
    section#media-icon {
        height: 390px !important;
    }
    img.img-pack {
        width: 100%;
    }
    .gallery-item.gallery-style-10.padding.mb-50 {
        width: 80%;
        margin: 0 auto;
    }
    p.under-img-pack {
        font-size: 20px;
    }
    .magis,
    section#benefits-3col-3-,
    section#benefits-3col-3 {
        padding-bottom: 85px !important;
    }
    .offset-2 {
        margin: 0;
    }
    section#benefits-3col-3 {
        padding-bottom: 75px !important;
    }
    .after-use img.natma-2 {
        margin-bottom: 40px;
    }
    section#desc-halfbg-text-img-text a.btn.btn-cta {
        margin-top: 40px;
    }
    section#text-1col {
        padding-bottom: 0 !important;
    }
    section#text-1col svg {
        margin-bottom: 0 !important;
    }
    section#benefits-4col-8 {
        padding-bottom: 30px !important;
    }
    .why-natumia {
        margin-bottom: 55px;
    }
    section#media-iframe-3col {
        padding-bottom: 40px !important;
    }
    section#benefits-3col-3 {
        padding-top: 55px !important;
    }
    .review-grid {
        padding-bottom: 95px !important;
    }
    .review-grid .box {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .review-grid .col-xs-12.col-sm-6.col-md-4.col-lg-2:first-child .box,
    .review-grid .col-xs-12.col-sm-6.col-md-4.col-lg-2:nth-child(2) .box {
        margin-top: 40px;
    }
    .review-grid .col-xs-12.col-sm-6.col-md-4.col-lg-2:last-child .box {
        margin-bottom: 70px;
    }
    .review-grid .col-xs-12.col-sm-6.col-md-4.col-lg-2 {
        width: 50%;
        padding: 0 8px;
    }
    .review-grid .box {
        width: 100%;
    }
    section.tele {
        position: fixed;
        display: block;
        z-index: 9999;
        bottom: 0;
        width: 100%;
        background: white;
    }
    section.tele a.btn.btn-cta {
        animation: none;
        margin: 10px 0;
    }
    nav#nav-menu-logo-social {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 425px) {
    a.btn.btn-cta {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .flag-container {
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        width: 100px !important;
        height: 100px !important;
        justify-content: center;
    }
}

.flag-container {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    width: 240px;
    height: 240px;
    justify-content: center;
}

.flag {
    object-fit: cover;
}

.price {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .price {
        font-size: 30px;
    }
    .buy-now-container {
        margin: 20px 0;
    }
    .content-box {
        padding: 40px 20px !important;
    }
}

.buy-now {
    color: #ff4c53;
    text-align: center;
}

.buy-now-container {
    margin: 50px 0;
}

.modal-content {
    border-radius: 10px;
    max-width: 480px;
    margin: auto !important;
}

.form-input-modal {
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.content-box {
    padding: 50px 30px;
}

.price-container {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.price-container span:nth-child(2) {
    color: red;
}

.product-description {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-description img {
    margin-left: 10px;
    max-width: 100%;
    width: 80px;
}

.product-description h6 {
    width: 100%;
    text-align: right;
}

.order-quantity {
    display: flex;
    justify-content: start;
    padding: 15px 10px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.order-quantity span:nth-child(2) {
    color: #ff264a;
    margin-left: 2px;
}

.order-quantity span {
    font-size: 20px;
}

.footer-link {
    display: block;
}

.old_price {
    color: black;
    text-decoration: line-through;
    opacity: .7;
    font-size: 25px;
}

.rate-section {
    font-weight: 700;
    margin-top: 30px;
}

.rate_value {
    font-size: 55px;
    margin-left: 15px;
    color: black;
}

img.flag.mw-100 {
    width: 95px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.flag-container {
    padding: 0 !important;
    height: initial !important;
    border-radius: 0;
}

.new_price {
    color: #ff262e;
    font-size: 40px;
}